<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title>회원가입</title>
</th:block>
<th:block layout:fragment="customContents">	
	
	<form action="@{/memberInsert}" method="post">
	<table border="1">
		<tr>
			<td>아이디</td>
			<td><input type = "text" name="memberId"></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type = "password" name="memberPw"></td>
		</tr>
		<tr>
			<td>권한</td>
			<td><input type ="text" name="memberLevel"><br></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="memberName"><br></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input type="text" name="memberEmail"></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit" value="회원가입">회원가입버튼</button></td>
		</tr>
	
	</table>
	</form>