<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>상품목록</title>
</th:block>
<th:block layout:fragment="customContents">
	<table border="1">
		<tr>
			<td>상품번호</td>
			<td>상품이름</td>
			<td>상품종류</td>
			<td>상품가격</td>
			<td>상품원산지</td>
		</tr>
		<tr th:each= "a : ${goodsList}">
			<td th:text= "${a.goodsCode}"></td>
			<td th:text= "${a.goodsName}"></td>
			<td th:text= "${a.goodsCate}"></td>
			<td th:text= "${a.goodsPrice}"></td>
			<td th:text= "${a.goodsMade}"></td>
		</tr>
	</table>
</th:block>
</html>