<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.or.ksmart.ksmart_mybatis.mapper.GoodsMapper">
  	<resultMap type="kr.or.ksmart.ksmart_mybatis.vo.Goods" id="GoodsResultMap">
  		<result property="goodsCode" column="g_code"/>
  		<result property="goodsName" column="g_name"/>
  		<result property="goodsCate" column="g_cate"/>
  		<result property="goodsPrice" column="g_price"/>
  		<result property="goodsMade" column="g_made"/>
  	</resultMap>
  	
  	<select id="getGoodsList" resultMap="GoodsResultMap">
  	SELECT
	*
	FROM
	tb_goods
  	</select>
  </mapper>